POSTGRES_USER=app_user_client
POSTGRES_PASSWORD=app_user_client_password
POSTGRES_DB=app_db_client
DB_HOST=db
DB_PORT=5432
DB_USER=app_user_client
DB_PASSWORD=app_user_client_password
DB_NAME=app_db_client
SECRET_KEY=your_secret_key_here
DEBUG=true
HASH_SCHEME='["pbkdf2_sha256", "bcrypt"]'
JWT_ALGO=HS256
IPINFO_HEADERKEY='Bearer b1dad500b09585'
IPINFO_HEADERTYPE=Authorization
REDIS_PASSWORD=password
REDIS_HOST=cache_host
REDIS_PORT=6379
RABBIT_USER=guest
RABBIT_PASS=guest
RABBIT_VHOST=my_vhost
RABBIT_HOST=broker
